@use "./../../../node_modules/bootstrap/scss/bootstrap.scss";

@use "./partials/_variables.scss" as *;
@use "./partials/_navbar.scss" as *;
@use "./partials/_about.scss";
@use "./partials/_footer.scss" as *;


/* LIGHT */
body.light-mode {
  background-color: $light;
  color: $dark;
  .nota {
    background-color: $notalight;
  }
  body::-webkit-scrollbar-thumb {
    background-color: $glowlight;
    height: 123px;
  }
  .cardlink {
    background-color: $glowdark;

    .btn_link {
      background-color: $light;
      font-weight: bold;
      border: $neutral solid 1px;
    }

    .btn_link:hover {
      background-color: $glowlight;
      color: $glowdark;
    }
    .btn_bg_green:hover {
      color: $glowlight;
      text-decoration: underline;
    }
  }
  .txt_glow {
    color: $glowlight;
  }
}
/* DARK */
body.dark-mode {
  background-color: $dark;
  color: $light;
  .nota {
    background-color: $notadark;
  }
  body::-webkit-scrollbar-thumb {
    background-color: $glowdark;
    height: 123px;
  }
  .cardlink {
    background-color: $glowlight;

    .btn_link {
      background-color: $dark;
      color: $glowdark;
      font-weight: bold;
      border: $neutral solid 1px;
    }
    .btn_link:hover {
      background-color: $glowdark;
      color: $btnlink;
    }
    .btn_bg_green:hover {
      color: $glowdark;
      text-decoration: underline;
    }
  }
  .txt_glow {
    color: $glowdark;
  }
}

body {
  background-color: $bg_body;
  color: $light;
  font-family: monospace;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: $primary;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  border-left: 1px solid $bg_body;
}

.theme-button {
  background-color: #34495e;
  color: white;
}
.theme-button:hover {
  background-color: #34495e;
}


